<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>login</h1>
    <form id="LoginForm" method="post">
        <input type="email" name="email" id="email"placeholder="Introduce tu Email" required>
        <input type="password" name="password" id="password"placeholder="Introduce tu contraseña" required>
        <button type="submit" id="Loginbutton">Iniciar sesion</button>
    </form>
    <div id="mensajeLogin"></div>
    <script type="module" src="../controll_Login.js" ></script>
</body>
</html>