<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="email" name="email" id="email" placeholder="Introduce tu email" required>
        <input type="password" name="password" id="password" placeholder="Introduce tu password" required>
        <button type="submit">Register</button>
    </form>
    <form action="/init" method="post">
        <button type="submit">Iniciar sesion</button>
    </form>

    const baseHtml = `
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda de Ropa</title>
        
    </head>
    <body>
`;

</body>
</html>